<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico" />
    <title>VerspätungsOrakel</title>
    <script src="../static/index.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="#">
          <div class="vsou"><p>VerspätungOrakel</p></div> <div class="vsol"><img src="../static/Verspätungsorakel Logo_500x500.png" width="50" height="50" alt="Verpaetungsorakel Logo"></div>
        </a>
      </div>
      <div class="links">
          <form autocomplete="off" action="">
              <div class="autocomplete" style="width: 300px;">
                  <input type="text" placeholder="Dein Zug..." class="search-bar-train" id="train-id">
              </div>
              <div class="test2" style="float: left; width: 1vw;height: 9vh;">
                <p></p>
              </div>
          <div class="autocomplete" style="width: 300px">
            <input
              id="myInput"
              type="text"
              name="myCountry"
              placeholder="Deine Haltestelle..."
            />
          </div>
          <input
            type="button"
            value="Send"
            class="submit"
            onclick="postRequest()"
          />
        </form>
      </div>
    </nav>
    <main class="main">
      <div class="results">
        <h2 class="verspätung">98 Minuten</h2>
        <h3 class="abfahrt">13:94h</h3>
        <h3 class="ankunft">21:83h</h3>
      </div>
    </main>
  </body>
  <script>
    autocompleteStation(document.getElementById("myInput"));
  </script>
</html>
